.text-gradient-orange {
    background: linear-gradient(270deg, rgb(255, 128, 0), rgb(255, 210, 128), rgb(255, 128, 0));
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
